.odd {
  background-color: rgb(150,75,75);
  font: "Verdana", "DejaVu Sans", sans-serif;
}
#two {
  color: rgb(10,10,255);
  font-size: 36px;
}
#three {
  font-size: 24px;
}
#four {
  background-color: rgb(10,200,50);
  font-size: 24px;
  font-weight: bold;
}
