body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-grow: 1;
}

ul {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 300px;
  padding: 40px;
  margin: 10px;
}

.sidebar {
  flex: 0 0 300px;
  padding: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}


.header {
  font-weight: bold;
  font-size: larger;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}